<h1>Books 一覧</h1>

<% if @book.errors.any? %>
  <%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'users/list', user: @user, book: @nbook %>

<% @books.each do |book| %>
<div>
  <p><%= image_tag book.user.get_profile_image(100,100) %></p>
  <p><%= link_to book.title, book_path(book.id) %></p>
  <p>説明：<%= book.body %></p>
</div>
<% end %>