<%= flash[:notice] %>

<%= render 'users/list', user: @user, book: @nbook %>

<div>
  <li>
    <%= link_to user_path(@book.user.id) do %>
      <%= image_tag @book.user.get_profile_image(100,100) %><br>
      <%= @book.user.name %>
    <% end %>
  </li>

  <%= link_to @book.title, book_path(@book.id) %>
  <p><%= @book.body %></p>

  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
  <% end %>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %>
  <% end %>
</div>